@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

body {
    background-color: rgb(245, 244, 241);
    overflow-x: hidden;
}

#sections {
    position: relative;
    display: inline-block;
    width: 30%;
    top: 60px;
    z-index: 90;
    margin-right: 20px;
    margin-left: 50px;
}

.categoryLegend {
    font-family: "Open Sans,sans-serif";
}

.step {
    margin-bottom: 100px;
    height: 700px;
    font-family: "Open Sans,sans-serif";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

h1, h2 {
    font-weight: 700;
    text-align: right;
    line-height: 32px;
}

h1 {
    font-size: 45px;
}

strong {
    color: rgb(245, 155, 155);
}

#graphic {
    margin: auto;
    width: auto;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    height: auto;
    width: auto;
}

.tick line {
    stroke: 'red';
}


svg circle:hover{
    cursor: pointer;
}

.swatch {
    fill: #939393;
}

.legendEffect text.label {
   fill: #FFFFFF;
}

.sizeLegend2 {
    opacity: 0.7
}

a {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

img {
    display: none;
}


#section1_scroll a {
  padding-top: 60px;
}
#section1_scroll a span {
      position: absolute;
    top: 20px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.scroll a {
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000000;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scroll a:hover {
  opacity: .5;
}

.center {
  margin: auto;
   width: 24px;
}
