@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700&display=swap');

body {
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}

#sections {
    position: relative;
    display: inline-block;
    width: 40%;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 60px;
}



.step {
    height: auto;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.5em;
    text-align: justify;
    display: flow;
    flex-direction: column;
}


h1 {
    font-weight: 700;
    color: rgb(1, 22, 39);
    font-size: 36px;
    line-height: 32px;
}

h2 {
    font-size: 28px;
}

#graphic {
    margin: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#vis {
    display: inline-block;
    position: fixed;
    height: auto;
    width: auto;
    margin: auto;
    top: 50%;
    transform: translate(0%, -50%);
}

svg circle:hover{
    cursor: pointer;
}

.swatch {
    fill: #939393;
}

.legendEffect text {
   fill: #FFFFFF;
}

a {
    color: rgb(32, 164, 243);
    text-decoration: none;
}

img {
    display: none;
}


#section1_scroll a {
  padding-top: 60px;
}

#section1_scroll a span {
      position: absolute;
    top: 20px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.scroll a {
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #000000;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scroll a:hover {
  opacity: .5;
}

.center {
  margin: auto;
   width: 24px;
}
